{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    <div class="grid">
        {% for article in articles_page.object_list %}
            <div class="grid-box">
                <div class="grid-box-image-container">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        <img class="grid-box-image" src="{{ article.image }}" /> 
                    </a>
                </div>

                <div class="category-block"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></div>
                {% include 'taglist.html' %}

                <div class="grid-box-content">
                    <h1>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                    </h1>
    
                    {{ article.summary }}
                    {% include 'comments.html' %}
                </div>

                <div class="grid-date">{{ article.locale_date }}</div>
            </div>
        {% endfor %}
    </div>
{% else %}
<section id="content" class="body">
    {% if pages %}
    <h2>Pages</h2>
    <ul>
    {% for page in pages %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>This site currently has no content.</p>
    {% endif %}
</section>
{% endif %}
{% endblock content %}
